body{
	/*background-color: lightgrey;*/
}

*{
	color: #ffffff;
}

.wrapper{
 	width: 100%;
 	height: 634px;
 	background-image: url('../img/background.png');
 	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.layer{
	position: absolute;
	width: 100%;
	height: 634px;
	background-color: black;
	opacity: 0.5;
}

.content{	
	width: 740px;
	height: 634px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 1;
}

/*Header*/
.header{
	width: 740px;
	/*background-color: wheat;*/
    position: absolute;
    top: 30px;
}

.header nav{
	height: 38px;
	width: 740px;
}

.header ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 38px;
	width: 740px;
}

.header ul li{
	display: inline;
	float: left;
	height: 38px;
	width: 185px;
	text-align: center;
}

.header ul li:first-child a{
	text-decoration: underline;
}

.header ul li a{
	text-decoration: none;
	display: block;
	height: 38px;
	line-height: 38px;
}

.header ul li:hover{
	background-color: red;
	background-color: #d00000;
	border-radius: 3px;
}


/*/Header*/


/*Footer*/
.footer{
	width: 170px;
	height: 116px;
	position: absolute;
	bottom: 30px;
	right: 0;
}

.logo{
	height: 116px;
}

.logo img{
	width: 170px;
	height: 116px;
}
/*/Footer*/
